<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>exercise4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            Columna 1
          </ion-card-header>
          <ion-card-content>
            Contenido de la primera columna
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            Columna 2
          </ion-card-header>
          <ion-card-content>
            Contenido de la segunda columna
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button expand="full" routerLink="/exercise1" routerDirection="forward">Ejercicio1<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise2" routerDirection="forward">Ejercicio2<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise3" routerDirection="forward">Ejercicio3<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise4" routerDirection="forward">Ejercicio4<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise5" routerDirection="forward">Ejercicio5<menu></menu> </ion-button>
</ion-content>
