<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-button expand="full" routerLink="/exercise1" routerDirection="forward">Ejercicio1<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise2" routerDirection="forward">Ejercicio2<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise3" routerDirection="forward">Ejercicio3<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise4" routerDirection="forward">Ejercicio4<menu></menu> </ion-button>
  <ion-button expand="full" routerLink="/exercise5" routerDirection="forward">Ejercicio5<menu></menu> </ion-button>

</ion-content>
